@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

.task-description {
  width: 300px; /* Set a fixed width for the div */
  white-space: nowrap; /* Prevent text from wrapping onto the next line */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate truncated text */
}

h2{
  font-family: 'Protest Revolution', sans-serif;
}
